.card {
    width: 25%;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
}

.calculator-screen {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;

}

.calculator-keys {
    display: grid;

    /* Definim 4 coloane egale manual */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

button {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s;
}


.equal-sign {
    background-color: #F97316;
    color: white;

    // grid-row: span 2;
    height: 100%;
    transition: background-color 0.5s ease;

}

button.equal-sign:hover {
    background-color: #EA580C;
    /* portocaliu mai închis */
}


.zero-btn {
    grid-column: span 1;
}

button:hover {
    background-color: #eaeaea;

}

.operator {
    background-color: #3F51B5;
    color: white;

}

button.operator:hover {
    background-color: #32408F;
}