// * {
//     box-sizing: border-box;
//     margin: 0;
// }


// .calculator {
//     background-color: hsl(0, 0%, 99%);
//     padding: 20px;
//     max-width: 400px;
//     margin: 0 auto;
//     border: solid 1px #ccc;

//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//     border-radius: 2px;
//     margin-top: 50px;
// }


// #result {
//     width: 100%;
//     padding: 10px;
//     font-size: 24px;
//     border: none;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;

//     border-radius: 5px;

// }


// .buttons {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-gap: 10px;
//     margin-top: 20px;
// }

// button {
//     padding: 10px;
//     font-size: 24px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//     border-radius: 5px;
//     cursor: pointer;
//     transition: background-color 0.2s ease;
// }


// button:hover {
//     background-color: #ddd;
// }



// .clear {
//     background-color: red;
//     color: #fff;
// }


// .number {
//     background-color: #fff;
//     color: #333;
// }


// .operator {
//     background-color: blue;
//     color: #fff;
// }


// .equal {

//     background-color: #01ff70;
//     grid-row: span 3;
//     color: #fff;

// }

/*
.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}


button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);


}

*/


.card {
    width: 30%;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px;
}

.calculator-screen {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;

}

.calculator-keys {
    display: grid;

    /* Definim 4 coloane egale manual */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

button {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.equal-sign {
    background-color: #2e8b57;
    color: white;

    grid-row: span 2;
    height: 100%;

}

/* Opțional: Butonul 0 să fie mai lat (pe 2 coloane) */
.zero-btn {
    grid-column: span 1;
}

button:hover {
    background-color: #eaeaea;

}


.operator {
    background-color: #f0ad4e;
    color: white;
}