.example-spacer {
    flex: 1 1 auto;
    color: white;
}




mat-toolbar.custom-toolbar {
    background-color: #03396c !important;
    /* fundal albastru */
    color: #ffffff !important;
    /* text alb */
}

mat-toolbar.custom-toolbar mat-icon {
    color: #ffffff !important;
    /* iconițe albe */
}

mat-toolbar.custom-toolbar button {
    color: #ffffff !important;
    /* text butoane alb */
}

mat-toolbar.custom-toolbar button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    /* efect hover fin */
}