:host ::ng-deep .p-toolbar {
    background-color: #072F5F;
    border: none;
    border-radius: 0 !important;
    margin: 0 auto;

    height: 55px !important;
    min-height: 40px !important;
    padding: 0 10px !important;

}

:host ::ng-deep .p-button.p-button-text {
    color: white !important;
}

:host ::ng-deep .p-button.p-button-text:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: white !important;
}