<!-- <h1 class="text-3xl font-bold underline bg-amber-50">
    Hello world!
</h1> -->


<div class="w-[80%] mx-auto mt-2 rounded-[5px] border border-gray-200 bg-white p-4">

    <div class="w-full p-3 bg-white border border-gray-300 rounded-[5px]">

        <label class="block mb-2 text-sm font-medium text-gray-700">
            Încărcare Document
        </label>

        <div class="flex items-center space-x-4">
            <input type="file" id="file-upload" class="sr-only" (change)="onFileSelected($event)">

            <label for="file-upload"
                class="cursor-pointer rounded-md bg-white px-3.5 py-2.5 text-sm font-medium text-gray-700  ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                Alege fișier
            </label>

            <span class="text-sm text-gray-600">
                {{ selectedFile ? selectedFile.name : 'Niciun fișier selectat' }}
            </span>
        </div>

    </div>

    <hr class="border-t border-gray-300 mt-5 mb-5">

    <div class="flex justify-content-center">
        <p-button label="Small" icon="pi pi-check" size="small" />
    </div>

</div>