:host ::ng-deep .p-datatable-thead>tr>th {
    height: 40px !important;
    font-size: 15px;
    padding: 4px 8px !important;
}

:host ::ng-deep .p-datatable-tbody>tr>td {
    padding: 4px 8px !important;
    font-size: 13px;
}


:host ::ng-deep .p-button.custom-blue {
    background-color: #072F5F !important;
    border: none !important;
    color: #fff !important;
    height: 35px !important;


}

:host ::ng-deep .p-button.custom-blue:hover {
    background-color: #0d5399 !important;
}


// row color classes

tr.greenBkg {
    color: #0c5838 !important;
}

tr.redBkg {
    color: #f0172d !important;
}