<!-- <h1 class="text-3xl font-bold underline bg-amber-50">
    Hello world!
</h1> -->


<div class="w-[80%] mx-auto mt-2 rounded-[5px] border border-gray-200 bg-white p-4">

    <div class="w-full p-3 bg-white border border-gray-300 rounded-[5px]">

        <label class="block mb-2 text-sm font-medium text-gray-700">
            Încărcare Document
        </label>

        <div class="flex items-center space-x-4">
            <input type="file" id="file-upload" class="sr-only" (change)="onFileSelected($event)">

            <label for="file-upload"
                class="cursor-pointer rounded-md bg-white px-3.5 py-2.5 text-sm font-medium text-gray-700  ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                Alege fișier
            </label>

            <span class="text-sm text-gray-600">
                {{ selectedFile ? selectedFile.name : 'Niciun fișier selectat' }}
            </span>
        </div>

    </div>

    <hr class="border-t border-gray-300 mt-5 mb-5">

    <!-- <div class="bg-white rounded-[5px] border border-gray-200 p-2"> -->

    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef appColumnResize> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef appColumnResize> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef appColumnResize> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <!-- </div> -->

</div>