:host ::ng-deep .p-datatable-thead>tr>th {
    height: 40px !important;
    font-size: 15px;

    padding: 4px 8px !important;
}

:host ::ng-deep .p-datatable-tbody>tr>td {
    padding: 4px 8px !important;
    font-size: 13px;
}


:host ::ng-deep .p-button.custom-blue {
    background-color: #072F5F !important;
    border: none !important;
    color: #fff !important;
    height: 35px !important;


}

:host ::ng-deep .p-button.custom-blue:hover {
    background-color: #0d5399 !important;
}



// row color classes

tr.greenBkg {
    color: #0c5838 !important;
}

tr.redBkg {
    color: #f0172d !important;
}

:host ::ng-deep .myBar .p-progressbar-value {
    background: #072F5F !important;
}


.panel-container {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 0;
    margin: 20px 0;
    // box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    /* colțuri rotunjite și la tabel */
}

.panel-header {
    background: #003b73;
    color: white;
    padding: 7px 12px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #00284d;
}

.panel-body {
    padding: 15px;
    background: #fafafa;
}