/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


// @import "primeicons/primeicons.css";
// @import "primeflex/primeflex.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.test-border {
    border: 5px solid red !important;
}




.status-valid {
    color: green;
    font-weight: bold;

}

.status-error {
    color: red;
    font-weight: bold;
}

body .p-dialog.dialog-fundal-inchis {
    background-color: #f0f0f0;
}

body .p-dialog.dialog-fundal-inchis .p-dialog-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

body .p-dialog.dialog-fundal-inchis .p-dialog-content {
    background-color: #fafafa;
}

body .p-dialog.dialog-fundal-inchis .p-dialog-title {

    font-size: 15px;
}