/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


// @import "primeicons/primeicons.css";
// @import "primeflex/primeflex.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .resize-handle {
//     position: absolute;
//     top: 0;
//     right: -2.5px;
//     /* Îl poziționează jumătate înăuntru, jumătate în afară */
//     bottom: 0;
//     width: 5px;
//     cursor: col-resize;
//     /* Cursorul specific pentru redimensionare */
//     z-index: 10;

//     /* Opțional: un indicator vizual subtil */
//     /* background-color: rgba(0, 0, 0, 0.1); */
// }

// /* Opțional: adaugă un efect la hover */
// .resize-handle:hover {
//     // background-color: #007bff;
//     /* Sau culoarea ta de accent */
// }